*{
    background:black;
    }
    h3{
    color:orange;
    font-size:40px;
    }
    
    #middle{
    color:white;
    font-size:40px
    }
    
    .name{
    color:green;
    font-size:80px;
    }